@media screen and (max-width: 760px){
    
    body{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    header .cabecalho{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin-left: 0px;
        margin: 0px;
    }

    h1 .cabecalho{
        font-size: 12px;
    }

    .cabecalho .titulo{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 0px;
    }

    .cabecalho .descricao{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .botao{
        display: none;
        
    }



    section {
        width: 100%;
        height: 100%;
        background: none;
        padding: 0px;
        
    }

    section .container{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    section .card-sobre{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 0px;
    }

    

    .card-servicos1{
        display: flex;
        flex-direction: column;
        
        
    }

    footer .container{
        width: 100%;
        height: 100%;
        
        
    }

    footer .descricao{
        padding: 0;
    }

    footer .faixa-amarela{
        display: none
        
    }
    
    .form{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

}