

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(/img/s1\ ft1.png);
    background-size: cover;
    background-position: center center;
    height: 150vh;
    font-family: 'Arial';
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
}


/* ======== CABEÇA DO SITE ========*/

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
    
}

header .logo{
    margin-left: 5px;
    width:150px;
}

header nav a{
    text-decoration: none;
    color: #ffffff;
    margin: 10px;
}

header nav a:hover{
    color: #1DC2D5;
}


/*==========/==========*/

.cabecalho{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.cabecalho .titulo{
    font-size: 80px;
    text-align: center;
    margin-top: 10px;
}

.amarelo{
    color: #eFe60b;
}

.cabecalho .descricao{
    font-size: 16px;
    margin-top: 50px;
    text-align: center;
}

/*BOTÃO*/

.cabecalho .botao{
    font-size: 12px;
    text-decoration: none;
    background-color: #1DC2D5;
    padding: 10px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 50px;
    border-radius: 50px;
    transition: .3s ease-in-out;
    cursor: pointer;
    border: none;
}

.botao{
    background-color: #ffffff;
    color: #1DC2D5;
}


/* ======== CORPO DO SITE ========*/

section{
    background-image: url(/img/bg.png);
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-weight: 600;
    font-size: 26px;
    height: 330vh;
    background-size: cover;
    background-position: center center;
}



section .container{
    width: 90%;
    overflow: hidden;
    margin: 20px auto;
}

section .container h4{
    color: #eFe60b;
    font-size: 16px;
}

/*======= SOBRE ======*/

.titulo-sobre{
    padding-top: 50px;
}

.card-sobre p{
    display:block;
    font-size: 16px;
    font-family: 'Arial' sans-serif;
    font-family: #000000; 
}

.card-sobre{
    width: 700px;
    height: 300px;
    margin-top: 0;
    margin-bottom: 5.5rem;
    position: relative;
    padding: 2rem;
    background: #fff;
    -webkit-box-shadow: 8px 8px 48px 0 rgba(12, 10, 10, 0.246);
    box-shadow: 8px 8px 48px 0 rgba(12, 10, 10, 0.246);
}


/*======== SERVIÇO ========*/

/*CARD 1*/
.card-servicos1{
    font-size: 12px;
    background: url(/img/s3\ ft1.png);
   
    background-repeat: no-repeat;
    background-size:339px 473px;
    width: 336px;
    height: 470px;
    border-radius: 50px;    
}

/*DESCRIÇÃO SERVE PARA OS 3 CARD*/
.servico-descricao{
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    text-align: center;
    padding-top: 55px;
    font-size: 16px;

    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 25px;
    margin-inline-end: 25px;
}


/*CARD 2*/
.card-servicos2{
    
    font-size: 12px;
    background: url(/img/s3\ ft2.png);
   
    background-repeat: no-repeat;
    background-size:339px 473px;
    width: 336px;
    height: 470px;
    border-radius: 50px;
    
}

/*CARD 3*/
.card-servicos3{   
    font-size: 12px;
    background: url(/img/s3\ ft3.png);
   
    background-repeat: no-repeat;
    background-size:339px 473px;
    width: 336px;
    height: 470px;
    border-radius: 50px;
    
}


/*SEPARANDO AS DIV*/
#container-a{
    display: inline-block;
    margin-left: 35px;
    margin-top: 60px;
}

#container-b{
    display: inline-block;
    margin-left: 35px;
    margin-top: 30px;
}

#container-c{
    display: inline-block;
    margin-left: 25px;
    margin-top: 50px;
}


#container-d{
    display: inline-block;
    margin-left: 15%;
    margin-top: 60px;
}

#container-e{
    display: inline-block;
    margin-left: 50px;
    margin-top: 50px;
}

#container-f{
    display: inline-block;
    margin-left: 50px;
    margin-top: 50px;
    
}





/*DIFERENCIAIS*/
.card-diferenciais1{
    font-size: 12px;
    background: url(/img/s4\ ft1.png);
    background-repeat: no-repeat;
    background-size: contain;
    /* background-size:234px 515px; */
    width: 234px;
    height: 500px;
    border-radius: 50px;    
}

.card-diferenciais2{
    font-size: 12px;
    background: url(/img/s4\ ft2.png);
    background-repeat: no-repeat;
    background-size: contain;
    /* background-size:234px 515px; */
    width: 234px;
    height: 500px;
    border-radius: 50px;    
}

.card-diferenciais3{
    font-size: 12px;
    background: url(/img/s4\ ft3.png);
    background-repeat: no-repeat;
    background-size: contain;
    /* background-size:234px 515px; */
    width: 234px;
    height: 500px;
    border-radius: 50px;    
}




/* ======== RODAPÉ DO SITE ========*/
footer{
    background: #000000;
}